{
  "plugins": [
    "@babel/transform-runtime",
    [
      "lodash",
      {
        "id": [
          "lodash",
          "recompose"
        ]
      }
    ]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/react"
  ]
}